* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
    color: #5f6368;
    font-size: 14px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.027);
}

.more-btn {
    display: none;
}

#nav-menu {
    display: none;
}

button {
    border: none;
    background-color: transparent;
}

#navbar ul {
    display: flex;
    list-style: none;
    gap: 35px;
    margin-left: 80px;
}

.left-nav {
    display: flex;
    align-items: center;
}

#web-dev-icon {
    width: 180px;
}

.query {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    padding-left: 5px;
}

#nav-search {
    font-size: 16px;
    padding-left: 5px;
}

.query p {
    background-color: white;
    padding: 1px 8px;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 17px;
    font-weight: 500;
    align-items: center;
}

.lang-switch {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    border: 1px solid #5f63683a;
    padding: 5px;
    padding-left: 8px;
    border-radius: 4px;

}


.query {
    background-color: #f5f6f7;
    padding: 7px 2px;
    border-radius: 30px;
}

.query input {
    color: transparent;
    background-color: transparent;
    border: none;
    color: #5f6368;
    font-size: 16px;
    font-weight: 500;
    width: 130px;

}

.search-bar {
    border: none;
    color: transparent;
}

#navbar a {
    text-decoration: none;
    color: #5f6368;
}


#nav-globe {
    font-size: 20px;

}

#nav-bright {
    font-size: 22px;
    padding: 3.5px 9px;
    border-radius: 100px;
}

#nav-arrow1 {
    font-size: 10px;
    margin-left: 4px;
    margin-bottom: 3px;
}

#nav-arrow2 {
    font-size: 10px;
    margin-right: 5px;
}

.right-nav {
    display: flex;
    gap: 23px;
    align-items: center;
    color: #5f6368;
    font: 700;
}


.lang-switch a {
    font-weight: 500;

}

.sign-in-btn {
    padding: 9px 10px;
    border-radius: 40px;
    font-weight: 500;
}











/* HOVERS */
#navbar ul a:hover {
    color: #202124;
}

.query:hover {
    background-color: #a7e8fe;
}

#nav-bright:hover {
    background-color: #f5f6f7;
    padding: 3.5px 9px;
    border-radius: 100px;
}

.lang-switch:hover {
    background-color: #f5f6f7;
}

.sign-in-btn:hover {
    background-color: #f5f6f7;
}





/* OTHER HEADERS */
.header-info {
    padding: 25px;
    background-color: #1a73e8;
    color: white;
    font-size: 16px;
}

.header-news {
    padding: 23px;
    background-color: #e8f0fe;
    color: #4b43b8;
    font-size: 14px;
    padding-left: 230px;
}

.header-news a {
    text-decoration: underline;
    color: #4b43b8;

}











/* MAIN CONTENT */
main {
    padding: 90px 0px;
}

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    margin-bottom: 120px;
    padding: 0px 360px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 600px;
    ;
}

.hero-text {
    font-size: 64px;
    line-height: 60px;
    word-spacing: 1px;
    font-weight: 700;
    letter-spacing: 0px;

}

.hero-subtext {
    font-size: 19px;
    font-weight: 400;
}

.hero-img {
    width: 480px;
}

.hero-img2 {
    display: none
}







/* LEARN MORE SECTION */
.card-holder {
    display: flex;
    justify-content: space-between;
    /* padding: 50px; */
    gap: 20px;
    margin-bottom: 100px;
    padding: 0px 360px;
}

.card-holder img {
    width: 330px;
    border-radius: 25px;
}

.card-holder .card-topic {
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    color: #202124;
}

.card-holder p {
    font-size: 16px;
    font-weight: 400;
    color: #202124;
}

.card-holder button a {
    text-decoration: none;
    color: #1a73e8;
    background-color: white;
    border: 2px solid #1a73e8;
    border-radius: 40px;
    padding: 12px 35px;
    font-size: 16px;
    font-weight: 500;
}

.card-holder button a:hover {
    background-color: transparent;
    border: none;
}

.card-holder button {
    border: none;
    background-color: transparent;
}


.card-holder div {
    background-color: #f5f6f7;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.left-card,
.middle-card,
.right-card {
    padding: 55px 30px;
    border-radius: 30px;

}






/* EXPLORE THE WEB PLATFORM */
.explore-the-web {
    background-color: #f5f6f7;
    padding: 30px 360px;
}

.section-top h2 {
    font-size: 48px;
    font-weight: 700;
}

.explore-the-web button a {
    text-decoration: none;
    color: #1a73e8;
    background-color: white;
    border: 2px solid #1a73e8;
    border-radius: 40px;
    padding: 12px 35px;
    font-size: 16px;
    font-weight: 500;
}

.explore-the-web button a:hover {
    background-color: transparent;
    border: none;
}

.section-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.explore-the-web p {
    font-size: 16px;
    font-weight: 400;
}

.section-subtext {
    width: 68%;
    margin-bottom: 80px;
}

.lang-card {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.html-card,
.css-card,
.javascript-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: white;
    align-items: center;
    text-align: center;
    padding: 60px 50px;
    width: 700px;
    border-radius: 25px;
}

.html-card:hover,
.css-card:hover,
.javascript-card:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.096);
}

.lang-card img {
    width: 60px;
}

.lang-topic {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.lang-topic:hover {
    text-decoration: underline;
}

.icon-name {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
}

.html-card p {
    margin-bottom: 60px;

}

.css-card p {
    margin-bottom: 50px;
}





/* LEARN THE WEB */
.learn-the-web {
    background-color: white;
    padding: 30px 360px;
}

.learn-the-web button a {
    text-decoration: none;
    color: #1a73e8;
    background-color: transparent;
    border: 2px solid #1a73e8;
    border-radius: 40px;
    padding: 12px 35px;
    font-size: 16px;
    font-weight: 500;
}

.learn-the-web button a:hover {
    background-color: transparent;
    border: none;
}

.learn-the-web p {
    font-size: 16px;
    font-weight: 400;

}

.learn-the-web .html-card,
.learn-the-web .css-card,
.learn-the-web .javascript-card {
    background-color: #f5f6f7;
}

.course-topic {
    text-decoration: none;
    font-size: 32px;
    font-weight: 540;
    color: black;
}

.course-topic:hover {
    text-decoration: underline;
}

.learn-the-web img {
    width: 300px;
}

.learn-the-web .html-card,
.learn-the-web .css-card,
.learn-the-web .javascript-card {
    padding: 60px 30px;
    width: 700px;
}

.learn-the-web button a:hover {
    background-color: #1a73e8;
    color: white;
}





/* BLOG SECTION */
.blog-section {
    padding: 50px 360px;
    background-color: #f5f6f7;
    display: flex;
    align-items: center;

}

.blog-section a {
    text-decoration: none;
    color: #1a73e8;
    background-color: transparent;
    border: 2px solid #1a73e8;
    border-radius: 40px;
    padding: 12px 35px;
    font-size: 16px;
    font-weight: 500;
}

.blog-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.blog-section h3 {
    font-size: 32px;
    font-weight: 500;
}

.blog-right2 {
    display: none;
}

.blog-section a:hover {
    background-color: #1a73e8;
    color: white;
}

.blog-section img {
    width: 290px;
    padding: 0px;
    margin: 0px;
}



/* READMEs */
.white-row {
    padding: 40px 360px;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid #dadce0;
}

.white-row p {
    font-size: 16px;
    font-weight: 400;
    /* margin-bottom: 30px; */
}

.readme-topic {
    font-size: 36px;
    font-weight: 700;
}

#readme-subtopic {
    font-size: 20px;
    font-weight: 400;
}


#readme-subtopic a {
    color: #1a73e8;
    text-decoration: none;
}

#readme-subtopic a:hover {
    text-decoration: underline;
}

#row-button {
    text-decoration: none;
    color: #1a73e8;
    background-color: white;
    border: 2px solid #1a73e8;
    border-radius: 40px;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 500;

}

#row-button:hover {
    border: none;
    background: transparent;
}

.inline-link {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.inline-link:hover {
    text-decoration: underline;
}

.right-col {
    width: 380px;
}

.top {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 18px;
}

.bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 18px;
}




/* CSS FOR BLACK ROW */
.black-row {
    padding: 40px 360px;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 20px;
    /* border: 1px solid #dadce0; */
    background-color: #f5f6f7;
}

.black-row p {
    font-size: 16px;
    font-weight: 400;
}





/* FOOTER-LINKS */
.form-section {
    padding: 50px 30px;
    background-color: #f5f6f7;
    border: 1px solid #dadce0;
    justify-self: center;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}


.form-topic,
.form-subtopic,
.form {
    padding: 0px 600px;
}

.form-topic {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.form-subtopic {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}

.form label {
    font-size: 16px;
    font: 400;
}

.form input {
    font-size: 16px;
    font: 400;
    background-color: white;
    border: 1px solid #e8eaed;
    padding: 10px 0px;
}

.name-input {
    width: 297px;
}

#yourEmail {
    display: block;
    width: 100%;
}

.form .name-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

#firstName {
    margin-right: 50px;
}

.email-div {
    margin-bottom: 20px;
}

.country-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.country-div select {
    font-size: 16px;
    font: 400;
    background-color: white;
    border: 1px solid #e8eaed;
    padding: 10px 0px;
}

.checkbox {
    display: flex;
    gap: 15px;
    margin: 13px 0px;
}

.checkbox a {
    color: #1a73e8;
    text-decoration: none;
}

#subscribe-btn {
    color: #1a73e8;
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.116);
}


#subscribe-btn:hover {
    background-color: #e4eefc;
}

.recaptcha-div {
    display: flex;
    flex-direction: column;
}

.recaptcha-div .recaptcha {
    width: 280px;
    margin: 0px 190px;
    margin-bottom: 20px;
}







/* FOOTER  */
footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 30px 50px;
}

.footer-text {
    width: 600px;
}

.footer-text img {
    width: 160px;
}

.left-links,
.middle-links,
.right-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left-links p,
.middle-links p,
.right-links p {
    font-weight: 600;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
    color: #1a89ee;
}


/* RESPONSIVENESS */
/* SCREEN 0-480 */
@media (min-width:0px) and (max-width:480px) {
    body {
        width: 480px;
    }

    #nav-menu {
        font-size: 25px;
    }

    ul li,
    .search-bar,
    .query p,
    .lang-switch {
        display: none;
    }

    .query {
        background-color: transparent;
    }

    .left-nav {
        gap: 10px;
    }

    #web-dev-icon {
        width: 150px;
    }

    #navbar {
        gap: 0px;
        justify-content: none;
    }

    .right-nav {
        display: flex;
        gap: 10px;
    }

    .sign-in-btn {
        width: 70px;
    }



    .header-info {
        width: 480px;
    }

    .header-news {
        padding-left: 25px;
    }




    /* MAIN CONTENT RESPONSIVENESS */
    .hero-section {
        display: block;
        padding: 0px 25px;
        justify-content: center;
    }

    .hero-img2 {
        display: block;
        width: 370px;
        justify-self: center;
        margin-bottom: 50px;
        justify-content: center;
        padding: none;
    }

    .hero {
        width: 100%;
    }

    .hero-img {
        display: none;
    }

    .hero-text {
        font-weight: 700;
        width: 100%;
    }

    .card-holder {
        display: block;
        padding: 0px 25px;
    }

    .card-holder div {
        margin-bottom: 20px;
    }




    /* EXPLORE THE WEB RESPONSIVENESS */
    .explore-the-web {
        display: block;
        padding: 0px 25px;
        padding-bottom: 50px;
    }

    .section-top {
        display: block;
    }

    .section-top h2 {
        margin-bottom: 25px;
        padding-top: 20px;
    }

    .section-subtext {
        width: 100%;
        ;
    }

    .lang-card {
        display: block;
    }

    .html-card,
    .css-card,
    .javascript-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
        background-color: white;
        align-items: center;
        text-align: center;
        padding: 60px 30px;
        width: 100%;
        border-radius: 25px;
        margin-bottom: 20px;
    }

    .lang-card div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
        background-color: white;
        align-items: center;
        text-align: center;
        padding: 60px 30px;
        width: 100%;
        border-radius: 25px;
        margin-bottom: 20px;
    }



    /* LEARN THE WEB RESPONSIVENESS */

    .learn-the-web .html-card,
    .learn-the-web .css-card,
    .learn-the-web .javascript-card {
        padding: 60px 30px;
        width: 435px
    }


    .learn-the-web {
        display: block;
        padding: 0px 25px;
    }

    .learn-the-web .icon-name img {
        width: 0px;
    }


    /* BLOG SECTION RESPONSIVENESS */
    .blog-section {
        width: 480px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 60px 30px;
    }

    .blog-right2 img {
        display: block;
        width: 400px;
    }

    .blog-right {
        display: none;
    }

    .blog-left {
        gap: 35px
    }





    /* READMEs RESPONSIVENESS */
    .white-row {
        padding: 60px 30px;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 1fr 1fr 1fr; */
        justify-content: space-between;
        gap: 0px;
        border: 1px solid #dadce0;
    }

    .white-row .left-col {
        margin-bottom: 50px;
    }

    .black-row {
        padding: 60px 30px;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 1fr 1fr 1fr; */
        justify-content: space-between;
        gap: 0px;
        border: 1px solid #dadce0;
    }

    .black-row .left-col {
        margin-bottom: 50px;
    }






    /* FORM SECTION RESPONSIVENESS */
    .form-section {
        padding: 30px 0px;
        margin: 0px;
        max-width: 480px;
    }

    .form-topic,
    .form-subtopic,
    .form {
        padding: 0px 20px;
    }

    .form-subtopic {
        padding: 0px 30px;
    }

    .recaptcha-div .recaptcha {
        margin: 0px 70px;
        margin-bottom: 20px;
    }

    .name-input {
        width: 195px;
    }



    /* FOOTER RESPONSIVENESS */
    footer {
        display: block;
        width: 100%;
    }

    .footer-text {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-text img {
        /* image-rendering: 200px; */
    }


    .left-links,
    .middle-links,
    .right-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .left-links p,
    .middle-links p,
    .right-links p {
        margin-top: 18px;
    }
}

/* RESPONSIVENESS */
/* SCREEN 481 -768 */

@media (min-width:481px) and (max-width:768px) {
    body {
        width: 768px;
    }

    #nav-menu {
        font-size: 25px;
    }

    ul li,
    .search-bar,
    .query p {
        display: none;
    }

    .query {
        background-color: transparent;
    }

    .left-nav {
        gap: 10px;
    }

    #web-dev-icon {
        width: 150px;
    }

    #navbar {
        gap: 0px;
        justify-content: none;
    }

    .right-nav {
        display: flex;
        gap: 10px;
    }

    .sign-in-btn {
        width: 70px;
    }

    .header-info {
        /* max-width: 768px; */
    }

    .header-news {
        padding-left: 25px;
    }




    /* MAIN CONTENT RESPONSIVENESS */
    main {
        padding: 40px 0px;
    }

    .hero-section {
        display: flex;
        padding: 0px 25px;
        justify-content: center;
    }

    .hero-img2 {
        display: none;
    }

    .hero {
        width: 100%;
    }

    .hero-img {
        display: block;
        width: 250px;
        justify-self: center;
        border-radius: 25px;
        margin-right: 50px;
    }

    .hero-text {
        font-weight: 700;
        width: 100%;
    }

    .hero-subtext {
        line-height: 29px;
    }

    /* LEARN MORE SECTION */
    .card-holder {}



    /* EXPLORE THE WEB RESPONSIVENESS */
    .explore-the-web {
        display: block;
        padding: 0px 25px;
        padding-bottom: 50px;
    }

    .section-top {
        display: block;
    }

    .section-top h2 {
        margin-bottom: 25px;
        margin-top: 40px;
        padding-top: 20px;
    }

    .section-subtext {
        width: 100%;
        ;
    }

    .lang-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* padding: 0px 25px; */
        width: 768px;
        column-gap: 20px;
    }

    .lang-card div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0px;
        background-color: white;
        align-items: center;
        text-align: center;
        padding: 30px 30px;
        padding-bottom: 45px;
        width: 100%;
        border-radius: 25px;
        margin-bottom: 20px;
    }

    .html-card p,
    .css-card p,
    .javascript-card p {
        margin-bottom: 40px;
    }

    .explore-the-web .lang-card {
        width: 708px;
    }






    /* LEARN MORE SECTION */
    .card-holder {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0px 25px;
        width: 768px;
        margin-bottom: 50px;
    }

    .card-holder div {
        margin-bottom: 20px;
        padding: 35px 30px;
    }

    .card-holder img {
        width: 240px;
    }

    .learn-the-web .html-card,
    .learn-the-web .css-card,
    .learn-the-web .javascript-card {
        padding: 60px 30px;
        width: 90%;
    }


    .learn-the-web .lang-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0px;
        margin: 0px;
        width: 100%;
    }

    .learn-the-web {
        display: block;
        padding: 0px 25px;
        margin-bottom: 50px;
    }

    .learn-the-web .html-card,
    .learn-the-web .css-card,
    .learn-the-web .javascript-card {
        margin: 0px;
        padding: 40px 40px;
    }

    .learn-the-web .icon-name {
        padding: 0;
        margin: 0;
        background-color: transparent;
    }




    /* BLOG SECTION RESPONSIVENESS */
    .blog-section {
        width: 768px;
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 60px 30px;
    }

    .blog-right2 {
        display: none;
    }

    .blog-right {
        display: block;
    }

    .blog-right img {
        width: 350px;
    }

    .blog-left {
        gap: 35px
    }





    /* READMEs RESPONSIVENESS */
    .white-row {
        padding: 60px 30px;
        padding-top: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap: 60px;
        row-gap: 30px;
        column-gap: 30px;
        border: 1px solid #dadce0;
    }

    .white-row .left-col {
        margin-bottom: 50px;
        grid-column: span 2;
    }

    .white-row .mid-col,
    .white-row .right-col {
        display: grid;
        width: 100%;
        align-items: top;
        margin: 0px;
        padding: 0px;
    }

    .black-row {
        padding: 60px 30px;
        padding-top: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap: 10px;
        border: 1px solid #dadce0;
    }

    .black-row .left-col {
        margin-bottom: 50px;
        grid-column: span 2;
    }

    .black-row .mid-col,
    .white-row .right-col {
        display: grid;
    }




    /* FORM SECTION RESPONSIVENESS */
    .form-section {
        padding: 30px 0px;
        margin: 0px;
        max-width: 768px;
    }

    .form-topic,
    .form-subtopic,
    .form {
        padding: 0px 20px;
    }

    .name-input {
       width: 338px;
    }



    /* FOOTER RESPONSIVENESS */
    footer {
        display: flex;
        flex-direction: column;
    }
     .left-links,
    .middle-links,
    .right-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .left-links p,
    .middle-links p,
    .right-links p {
        margin-top: 18px;
    }
}







/* RESPONSIVENESS */
/* SCREEN 769 -1279 */
@media (min-width:769px) and (max-width:1279px) {
    body {
        width: 1279px;
    }

    #nav-menu {
        display: none;
    }

    .more-btn {
        display: block;
    }

    .temp-btn {
        display: none;
    }

    .header-news {
        padding-left: 25px;
    }


    .hero-section {
        padding: 25px;
    }

    .card-holder {
        padding: 25px;
    }

    .explore-the-web {
        padding: 25px;
    }

    .learn-the-web {
        padding: 25px;
    }

    .blog-section {
        padding: 25px;
    }

    .white-row {
        padding: 50px 25px;
    }

    .black-row {
        padding: 50px 25px;
    }



    /* FORM SECTION RESPONSIVENESS */
     .form-section {
        padding: 30px 0px;
        margin: 0px;
        max-width: 1279px;
    }

    .form-topic,
    .form-subtopic,
    .form {
        padding: 0px 280px;
    }

    .form-subtopic {
        padding: 0px 30px;
    }

    .recaptcha-div .recaptcha {
        margin: 0px 230px;
        margin-bottom: 20px;
    }

    .name-input {
        width: 334px;
    }



}